<ion-header>
  <ion-navbar>
    <ion-title>
      MOVIE
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let current of result">
        <ion-thumbnail item-start>
          <img [src]="current.image" alt="Seigneurs des Anneaux">
        </ion-thumbnail>
        <h2>
          {{current.title}}
        </h2>
        <p>{{current.date}}</p>
        <button ion-button item-end [navPush]="detailspage" [navParams]="current">
          <ion-icon name="arrow-forward"></ion-icon>
        </button> 
      </ion-item>
      <ion-item *ngIf="result.length < 1">
          Aucun Résultat !
      </ion-item>
  </ion-list>
</ion-content>
